<style>

</style>

<%
// get all cover posts.
var coverPosts = [];
site.posts.forEach(function (post) {
    if (post.cover) {
        coverPosts.push(post);
    }
});
var coverPostsCount = coverPosts.length;
%>

    <div class="">

    </div>

    <script>
        $(function() {
            let coverSlider = $('.carousel');

            //用户触摸轮播自动 restartPlay 是否生效
            let initUserPressedOrDraggedActive = false

            //用户触摸轮播自动 restartPlay
            function initUserPressedOrDragged(instance) {
                setInterval(() => {
                    if (instance.pressed || instance.dragged) {
                        // console.log('initUserPressedOrDragged: ',instance.pressed,instance.dragged)
                        restartPlay()
                    }
                }, 1000)
            }

            coverSlider.carousel({
                duration: Number('<%- theme.cover.duration %>'),
                fullWidth: true,
                indicators: '<%- theme.cover.showIndicators %>' === 'true',
                onCycleTo() {
                    if (!initUserPressedOrDraggedActive) {
                        // console.log('initUserPressedOrDraggedActive')
                        initUserPressedOrDragged(this)
                        initUserPressedOrDraggedActive = true
                    }
                },
            })

            let carouselIntervalId;
            <% if (theme.cover.autoLoop) { %>
            // Loop to call the next cover article picture.
            let autoCarousel = function() {
                carouselIntervalId = setInterval(function() {
                    coverSlider.carousel('next');
                }, <%- theme.cover.intervalTime %>);
            };
            autoCarousel();
            <% } %>

            function restartPlay() {
                <% if (theme.cover.autoLoop) { %>
                clearInterval(carouselIntervalId);
                autoCarousel();
                <% } %>
            };

            <% if (theme.cover.showPrevNext) { %>
            // prev and next cover post.
            $('#prev-cover').click(function() {
                coverSlider.carousel('prev');
                restartPlay();
            });
            $('#next-cover').click(function() {
                coverSlider.carousel('next');
                restartPlay();
            });
            <% } %>
        });
    </script>